<div class="flex justify-center items-start top-0 left-0 w-screen m-0 mt-10  min-h-fit">
    <div class="container">
        <div class="grid grid-cols-5 gap-2 min-w-fit">

            <div class="col-span-1 min-h-fit">
                <mat-selection-list #shoes [multiple]="false">
                    <mat-list-option *ngFor="let shoe of typesOfShoes" [value]="shoe">
                        {{shoe}}
                    </mat-list-option>
                </mat-selection-list>
            </div>
            <div class="col-span-4 min-h-fit">
                Name: {{ userInfo?.info?.email }}
                <br/>
                <app-inventory></app-inventory>
            </div>
            

        </div>
    </div>
</div>